

{% if data.blocks.size > 0 %}
  {% assign collections_handles = data.blocks | map: 'collection' | map: 'handle' %}
  {% assign for_limit = 100 %}
{% else %}
  {% assign collections_handles = collections | map: 'handle' %}
  {% assign for_limit = 4 %}
{% endif %}


{% if collections_handles.size > 0 %}
<div class="special-categories-wrapper">

<div class="special-categories">

  <div class="special-categories-heading-wrapper">
    <p class="special-categories-heading">{{ data.name | editable }}</p>
  </div>

  <div class="row">
    {% for handle in collections_handles limit: for_limit %}
      {% assign collection_data = collections[handle] %}

      <div class="special-category is-data-{{ data.name }} cell-">
        <a href="{{ collection_data.url }}" class="category-inner">

          <div class="category-image-wrapper">
            <span class="category-image-inner image-container is-square ">

              {% unless collection_data.image.large_url contains 'no_image' %}
                {% assign image = collection_data.image.large_url %}
              {% elsif collection_data.products.first.first_image.large_url  %}
                {% assign image = collection_data.products.first.first_image.large_url %}
              {% else %}
                  {% assign image = collection_data.image.large_url %}
              {% endunless %}

              <img src="{{ image }}" class="category-image" title='{{ collection_data.title }}'>
            </span>
          </div>

          <div class="category-caption">
            {{ collection_data.title }}
          </div>

        </a>
      </div>

    {% endfor %}

  </div>
</div>

</div>
{% endif %}

{% assign category_cell_class = null %}
{% assign collections_handles = null %}
{% assign for_limit = null %}
